.Order
   border: 1px solid #393939
   border-radius: 15px
   margin-bottom: 10px
   margin-right: 10px
   padding: 15px
   .inputs
      display: block
   .flex
      display: flex
      justify-content: space-between
      align-items: center
   div
      display: flex
      align-items: center
   .button button
      color: white
      cursor: pointer
      padding: 10px 15px
      background-color: #393939
      border: none
      border-radius: 10px
      font-size: 16px

      &:hover
          background-color: #3e3e3e